<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>mforex-cloud</title>
	<link rel="icon" href="../images/logo.jpg" type="image/x-icon">
	<link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">
	<link rel="stylesheet" href="stylesheet/mforex.min.css">
	<link rel="stylesheet" href="stylesheet/other.min.css">
	<script src="js/dist/mforex.min.js"></script>
	<script src="js/dist/other.min.js"></script>
	<script src="js/libs/vue.min.js"></script>
	<script src="js/libs/iview.min.js"></script>
</head>
<body>
	<div id="app" class="login" style="display: relative;">
		<div class="login-con">
            <Card :bordered="false">
                <p slot="title">
                    <Icon type="log-in"></Icon>
                    欢迎登录
                </p>
                <div class="form-con">
                    <i-Form ref="loginForm" :model="form" :rules="rules">
                        <form-item prop="userName">
                            <i-Input v-model="form.userName" placeholder="请输入用户名">
                                <span slot="prepend">
                                    <Icon :size="16" type="person"></Icon>
                                </span>
                            </i-Input>
                        </form-item>
                        <form-item prop="password">
                            <i-Input type="password" v-model="form.password" placeholder="请输入密码">
                                <span slot="prepend">
                                    <Icon :size="14" type="locked"></Icon>
                                </span>
                            </i-Input>
                        </form-item>
                        <form-item>
                            <i-Button @click="handleSubmit" type="primary" long>登录</i-Button>
                        </form-item>
                    </i-Form>
                    <p class="login-tip">输入任意用户名和密码即可</p>
                </div>
            </Card>
        </div>
	</div>
	<div id="loading"></div>
</body>
<script>
	new Vue({
		el: '#app',
		data: {
			form:{
				userName: '',
				password: ''
			},
			rules: {
                userName: [
                    { required: true, message: '账号不能为空', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: '密码不能为空', trigger: 'blur' }
                ]
            }
		},
		methods: {
			handleSubmit: function () {
				this.$refs.loginForm.validate((valid) => {
                if (valid) {
                	var param = {
						httpType      :    'post',
						serviceUrl    :    'Login',
						apiModule     :    'basicAPI',
						domain        :    'www.sohu.com',
						login         :     this.form.userName,
						password      :     this.form.password
					}
					util.ajaxQuery(param,function(res){
						if(res.code==='0'){
							window.location.href='/';
						}else{
							alert('账号密码错误')
						}
					});
                    
                }
            });
			}
		}
	})
</script>
</html>