<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>mforex-cloud</title>
	<link rel="icon" href="/img/mforex_ico.svg" type="image/x-icon">
	<link rel="shortcut icon" href="/img/mforex_ico.svg" type="image/x-icon">
	<link rel="stylesheet" href="/dist/mforex.min.css">
	<link rel="stylesheet" href="/dist/other.min.css">
	<script src="/dist/mforex.min.js"></script>
	<script src="/dist/other.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts-en.common.js"></script>
</head>
<body>
	<!-- 这里用来存node传过来的user_info -->
	<input type="hidden" id="user_info" value="<%=userinfo%>">

	<!-- loading放在前面，确保框架内的代码执行时已存在DOM中 -->
	<div id="loading"></div>
	
	<!-- 这里是主体 -->
	<div id="main" style="display: relative;">
		<%-body%>
	</div>
	
	<!-- 这里用于附件上传 -->
	<input type="file" id="uploadFileInput" style="display: none;">

</body>
</html>