<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>exchange-cloud</title>
	<link rel="icon" href="../images/mforex_ico.svg" type="image/x-icon">
	<link rel="shortcut icon" href="../images/mforex_ico.svg" type="image/x-icon">
	<link rel="stylesheet" href="stylesheet/mforex.min.css">
	<link rel="stylesheet" href="stylesheet/other.min.css">
	<script src="js/dist/mforex.min.js"></script>
	<script src="js/dist/other.min.js"></script>
</head>
<body>
	<input type="hidden" id="user_info" value="<%=userinfo%>">
	<div id="main" style="display: relative;">
		<%-body%>
	</div>
	<div id="loading"></div>
</body>
</html>