.app-main{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  width: 100%;
  height: 100%;
  .content-body{
    margin-left: 200px;
    position: relative;
    height: 100%;
    .content-app{
      position: absolute;
      top: 60px;
      bottom: 80px;
      left: 0;
      right: 0;
      padding: 10px;
      &>div{
        width: 100%;
        height: 100%;
        overflow: auto;
      }
      .app-warp{
        background-color: #ffffff;
        border: 1px solid #e9eaec;
        border-radius: 4px;
        .filter-bar{
          width: 100%;
          padding: 0 20px;
          overflow: hidden;
          .filter-item{
            width: 280px;
            float: left;
            margin: 14px 0;
            .filter-item-name{
              margin-right: 10px;
            }
          }
        }
        .list-table{
          margin: 0 20px;
        }
      }
    }
  }
}