.backend-header{
	height: 50px;
	width: 100%;
	background-color: #373d41;
	.header-item{
		height: 50px;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		padding: 0 12px;
		cursor: pointer;
		position: relative;
		.more-info{
			visibility: hidden;
			position: absolute;
			top: 100%;
			padding: 10px 0;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0,0,0,.2);
			color: #666;
			z-index: 1;
			transition: visibility .15s;
			.info-item{
				min-width: 140px;
			}
			&.left{
				left: 0;
			}
			&.right{
				right: 0;
			}
		}
		&:hover{
			background-color: #2a2f32;
			.more-info{
				visibility: inherit;
			}
		}
	}
	.floatL{
		float: left;
		border-right: 1px solid #2a2f32;
	}
	.floatR{
		float: right;
		border-left: 1px solid #2a2f32;
	}
}