/*
 * @name 客户管理-客户管理
 * @auther Janber
 * @created 18-03-23
 */
.customer{
	&-info{
		position: relative;
		img{
			width: 200px;
			height: 200px;
			border-radius: 4px;
			display: inline-block;
			border: 1px dashed #dedede;
		}
		&-edit{
			position: absolute;
			left: 230px;
			top: 0;
			
		}
	}
}